<br>
<br>
<h1 class="text-center">Cocktails Bitches!!</h1>
<br>
<br>

<div class="text-center">
<% @cocktails.each do |cocktail| %>
  <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
<% end %>
<br>
<br>
<%= link_to 'Create new', new_cocktail_path %>
</div>
